<div class="nav-tab prev">
  &lt; previous
</div>
<div class="nav-tab next">
  next &gt;
</div>
<div class="nav-tab home">
  <a href="index.html">home</a>
</div>
<div class="nav-tab posts">
  <a href="posts.html">posts</a>
</div>
