.blog-box {
  background-image: url("blogback1.jpg");
  background-size: cover;
}

.blog-headline {
  font-family: 'Montserrat', sans-serif; 
  font-size: 4rem;
  background-color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  padding: 0.5rem;
}

.blog-body {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  width: 60%;
  margin-left: 15%;
  padding: 5%;
  text-align: justify;
}

.p-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin: 2rem;
  clear: both;
}

.blog-object {
  margin: 3%;
  text-align: center;
}

.blog-object img {
  width: 100%;
  margin-bottom: 3%; 
}

.right {
  float: right;
  width: 40%;
  margin-right: 0;
}

.left {
  float: left;
  width: 40%;
  margin-left: 0;
}

.wide {
  width: 80%;
  margin-left: 10%;
}

.caption {
  font-size: 1rem;
}
