<html>
  <head>
  </head>
  <body>
    <form action="new_blog_post.js" method="post">
      <input type="text" name="title">
      <input type="datetime-local" name="timestamp">
      <input type="text" name="infile">
      <input type="text" name="tags">
      <input type="submit" value="BLOGIT">

  </body>
</html>
