<html>
  <head>
  </head>
  <body>
    <form action="newBlogPost" method="post" enctype="application/x-www-form-urlencoded">
      <input type="text" name="title">
      <input type="datetime-local" name="timestamp">
      <input type="text" name="infile">
      <input type="text" name="tags">
      <input type="submit" value="BLOGIT">

  </body>
</html>
