<html>
  <head>
    <link rel="stylesheet" href="main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Varela+Round|PT+Mono' rel='stylesheet' type='text/css'>
  </head>
  <div class="blog-back">
  </div>
  <body>
    {{> blog-nav }}
    <div class="blog-box">
      <div class="blog-headline">
        {{title}}
      </div>
      <div class="blog-body">
        {{> blog-body}}
      </div>
    </div>
  </body>
</html>
